# Environment variables
.env
.env.*
!.env.example

# Go compiled binary output
/api
/rate-limiter
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test & coverage artifacts
*.test
*.out
*.prof

# OS & Editor files
.DS_Store
*.swp
*~
